absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
Django
django-cors-headers
django-phonenumber-field
djangorestframework
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
keras
libclang==15.0.6.1
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
pandas
phonenumberslite
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wrapt
